h1{
  text-align: center;
  color: blue;
  text-shadow:  5px 5px #558ABB;
  font-style: italic;
  font-weight: bold;
}

h3{
  text-decoration: underline;
}
.sheria{
  background-image: url("https://www.thoughtco.com/thmb/zWdCc2iR_RETV6s6dVabpKN9GC0=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/173333692-56a142325f9b58b7d0bd89ae.jpg");
  background-position: center;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  padding: 10%;
}

h4{
  text-align: center;
  text-decoration: underline;
}

.container{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/31/Pass_pigs_dice.jpg");
}
